* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  background-color: red;
  animation: animate 3s infinite;
  border: none;
}
button {
  width: 200px;
  height: 200px;
  border-radius: 40px;
  border: none;
  position: relative;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
button svg {
  width: 110px;
  animation: animat 2s linear infinite;
  /* animation: animati; */
  transform-origin: top;
}
@keyframes animat {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
